In [38]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [39]:
#---Player Count------------------------------------
#count and display total number of players
total_players=len(purchase_data["SN"].value_counts())

total_players_summary= pd.DataFrame({"Total Players": [total_players]})
total_players_summary

   Total Players
0            576

In [40]:
#---Purchasing Analysis (total)-----------------------
# calculate: no. of unique items, avg purchase price, total number of purchases
#and total revenue. create a data frame. add styling
#calculations

unique_items=len(purchase_data["Item ID"].unique())
avg_price=purchase_data["Price"].mean()
total_purchases=purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()

#styling/formating
format_avg_price = "${:.2f}".format(avg_price)
format_total_revenue =  "${:.2f}".format(total_revenue)

#create dataframe
purchasing_summary = pd.DataFrame({"Unique Items": unique_items,
                                "Average Price": [format_avg_price],
                                "Total Purchases": [total_purchases],
                                "Total Revenue": [format_total_revenue]})
purchasing_summary

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780      $2379.77

In [41]:
#---Gender Demographics-----------------------------------
#find the count and percentage of male/female/other
gender_grouped = purchase_data.groupby("Gender")
gender_counts = gender_grouped["SN"].nunique()
gender_percent = (gender_counts/total_players).mul(100).round(1).astype(str) + "%"

#create data frame
gender_summary = pd.DataFrame({"Count": gender_counts, "Percentage": gender_percent})
gender_summary

                       Count Percentage
Gender
Female                    81      14.1%
Male                     484      84.0%
Other / Non-Disclosed     11       1.9%

In [42]:
#---Purchasing Analysis (gender)-------------------------
#create new dataframes grouped by gender
males_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
females_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]

#calculate: purchase count, avg purchase price, total purchase, avg purchase total
#break it down by gender

#create new data frame summarizing all above

In [43]:
#Males.........
males_purchase_count=len(males_df["Purchase ID"].value_counts())
males_avg_price=males_df["Price"].mean()
males_total_purchases=males_df["Price"].sum()
males_avg_total= (males_total_purchases/484) #484 is the number of total male players

#formatting
format_males_avg_price = "${:.2f}".format(males_avg_price)
format_males_total_purchases =  "${:.2f}".format(males_total_purchases)
format_males_avg_total = "${:.2f}".format(males_avg_total)

In [44]:
#Females............
females_purchase_count=len(females_df["Purchase ID"].value_counts())
females_avg_price=females_df["Price"].mean()
females_total_purchases=females_df["Price"].sum()
females_avg_total= (females_total_purchases/81) #81 is the number of total female players

#formatting
format_females_avg_price = "${:.2f}".format(females_avg_price)
format_females_total_purchases =  "${:.2f}".format(females_total_purchases)
format_females_avg_total = "${:.2f}".format(females_avg_total)

In [45]:
#other/Non-Disclosed........
other_purchase_count=len(other_df["Purchase ID"].value_counts())
other_avg_price=other_df["Price"].mean()
other_total_purchases=other_df["Price"].sum()
other_avg_total= (other_total_purchases/11) #11 is the number of total other players

#formatting
format_other_avg_price = "${:.2f}".format(other_avg_price)
format_other_total_purchases =  "${:.2f}".format(other_total_purchases)
format_other_avg_total = "${:.2f}".format(other_avg_total)

In [56]:
#create new data frame
purchasing_summary_gender = pd.DataFrame({"Purchase Count": [males_purchase_count, females_purchase_count, other_purchase_count],
                                "Average Purchase Price": [format_males_avg_price, format_females_avg_price, format_other_avg_price],
                                "Total Purchase Value": [format_males_total_purchases, format_females_total_purchases, format_other_total_purchases],
                                          "Avg Total Purchase Per Person": [format_males_avg_total, format_females_avg_total, format_other_avg_total]})
purchasing_summary_gender.index= ["Males", "Females", "Other/ Non-Disclosed"]

purchasing_summary_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Males,652,$3.02,$1967.64,$4.07
Females,113,$3.20,$361.94,$4.47
Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

In [51]:
#---Age Demographics-------------------------------------------
#create bins for age. Categorize players by age(pd.cut). calculate numbers/%s per bin
#create new summary table

bins=[0, 10, 15, 20, 25, 30, 35, 40, 50]
age_bin_labels=["<10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41<"]

purchase_data["Age Groups"]=pd.cut(purchase_data["Age"], bins, labels=age_bin_labels)
age_groups= purchase_data.groupby("Age Groups")

binned_age_counts=age_groups["SN"].nunique()
binned_age_percent=(binned_age_counts/total_players)*100

age_summary=pd.DataFrame({"Total Count": binned_age_counts, "Percentage of Players": binned_age_percent})
age_summary
age_summary.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#---Purchasing Analysis (Age)-----------------------------------
#bin age groups. calculate purchase count, avg purchase price, total purchase volume, and avg total purchase per person
#create summary data frame

age_purchase_count=age_groups["Purchase ID"].count()
age_avg_price=age_groups["Price"].mean()
age_total_purchases=age_groups["Price"].sum()
#age_avg_total=age_groups[]

age_purchase_count

Age Groups
<10       32
10-15     54
16-20    200
21-25    325
26-30     77
31-35     52
36-40     33
41<        7
Name: Purchase ID, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame